{% extends 'users/base.html'%}
{% load crispy_forms_tags%}
{% block content %}
<div class="">
    <form action="" method="POST">
        {% csrf_token %}
        <legend class="border-bottom mb-4 text-center">
            <strong>Login</strong>
        </legend>
        {{ form|crispy }}

        <div class="text-center">
            <button class="btn btn-lg btn-primary" type="submit">Login</button>
        </div>
    </form>
    <div class="text-center mt-4">
        <small>Don't have an account yet? Sign up today.</small>
        <div>
            <a class="btn btn-sm btn-secondary" href=" {% url 'user-register' %}">Sign up</a>
        </div>
    </div>
</div>
{% endblock content %}